/*
This is for style
*/

@font-face {
    font-family: HeaderFont;
    src: url(./Fonts/MaisondeartisanfreeRegular-qZl52.otf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.title {
    top: 10%;
    
    font-size: 110px;
    position: absolute;
    font-family: HeaderFont;
    color: rgb(255, 255, 255);
    
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../images/201218101034-mark-zuckerberg-file.jpg");
    background-size: cover;
    background-position: center;

}

.login {
    width: 30%;
    background: #00447ca9;
    color: white;
    border-radius: 10px;
    padding: 15px 0px;
    
}

.login h1 {


    font-size: 80px;
    text-align:center;
    margin:auto;
    font-family: HeaderFont;
}

.login .input-box {
    width: 90%;
    height: 50px;
    background: #cacaca;
    margin: 25px;
    border:0px solid #6e6e6e79;
    border-radius:10px;
    
}

.input-box input {
    
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 3px solid #6e6e6e79;
    border-radius: 10px;
    padding: 20px 45px 20px 7px;
    font-size: 20px;
    font-weight: 400;
}



.check {
    position: relative;
    
    padding-left: 35px;
    margin-left: 25px;
    padding: 0px 0px 0px 35px;
    font-size: 22px;
    
    cursor: pointer;

}




.check input {  
    margin: auto;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    
    
}



.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 7.5%;
    border: 3px solid #6e6e6e79;
}

.check input:hover ~ .checkmark {
    background-color: #ccc;
}


.check input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check input:checked ~ .checkmark:after {
    display: block;
}

.check .checkmark:after {
    left: 5.5px;
    top: 0px;
    width: 8px;
    height: 15px;
    border: solid white;
    border-width: 0px 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 7.5%;
}


.login .button1 {
    
    height: 50px;
    
    margin: 15px 0px;
    text-align: center;
}

.login .btn {
    display: flex;
    width: 80%;
    height: 50px;
    border: 3px solid #30303077;
    border-radius: 40px;
    
    margin: 0 auto;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    background: #30303077;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.btn:hover {
    background: #0000009f;
}

#footer {

    
    position: relative;
    min-height: 100vh;
}